body {
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.btn-primary {
    margin-left: 10px;
}

#resultList {
    margin-top: 30px;
}

.media {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.media:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.media img {
    width: 100px;
    height: auto;
}

.media-body h5 {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-primary {
        margin-top: 10px;
        margin-left: 0;
    }
}
